<!DOCTYPE html>
<html>
<style>
  .header a {
    color: white;
    font-size: 22px;
    /* text-decoration: none; */
    display: inline-block;
    margin: 25px 10px;
    font-weight: bold;
  }
</style>
<style>
  .marco {
    width:80%;
    background:white;
    box-shadow:0px 0px 2px #222222;
    border: 1px solid #e1e1e1;
    margin:40px auto;
    padding:40px;
  }
</style>
<head>
    <meta charset="utf-8">
    <title>Eduardo Benmergui</title>
    <style>
    {background-image: url("/home/eduardo/node/propiedades/views/layouts/display_803135.jpg");;width:150px;height:200px;
    background-repeat: no-repeat;

  }



    </style>

</head>

<body>
  <div class='header' style='height:90px;background:rgba(0,0,0,0.6)' >
  </div>
    <div class='marco'>
      {{{body}}}
    </div>
  </div>
</body>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script>
</html>
