<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Eduardo Benmergui</title>
    <style>
      .header a {
        color: white;
        font-size: 22px;
        /* text-decoration: none; */
        display: inline-block;
        margin: 25px 10px;
        font-weight: bold;
      }
    </style>

</head>

<body>
  <div class='header' style='height:90px;background:rgba(0,0,0,0.6)' >
    <a href='/'> Home </a>
    <a href='/clarin'>Clarin </a>
  </div>
    <div style="width:80%;background:white;box-shadow:0px 0px 2px #222222;border: 1px solid #e1e1e1;margin:40px auto;padding:40px;">
      {{{body}}}
    </div>
  </div>

</body>
</html>
