

<h1><font size="20">Clientes</font></h1>
<div class='marco'>
  <table border="0">
    <tr>
      <th><font size="20">Nombre</font></th>

    </tr>


    {{#each rows}}
    <tr>

      <td>
        <p > <font size="16">{{this.nombre}}</font></p>
      </td>
    <td>

    </td>
		</tr>
    {{/each}}
  </table>
</div>
