<h1> A page by Eduardo Benmergui</h1>
<p> Utilities and projects done and compiled by myself </p>

<ul>
  <li><a href="/scrape">Scrape IMDB</a></li>
   <li><a href="/zonaprop">Scrape Zona prop</a></li>
   <li><a href="/clarin">Scrape Clarin</a></li>
  <!-- {{#each numeros}}
    <li>{{ this }}</li>
  {{/each}} -->
</ul>
