
<h1>Pegar url</h1>
<form method=GET action='/props'>
<input class='prop-input' type='text' name='query_url'>
</form>
<div class='marco'>
  <table border="1">
    <tr>
      <th>Propiedad</th>
      <th>Visitas</th>
    </tr>


    {{#each visitas}}
    <tr>
      <td>
      <a href=/props?query_url={{this.texto}}>{{this.texto}}</a>
    </td>
    <td>

    </td>
		</tr>
    {{/each}}
  </table>
</div>
<style>
  .prop-input {
    width: 300px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    padding: 10px;
  }
</style>
