
<h1>Pegar url</h1>
<form method=GET action='/zonaprop'>
<input class='prop-input' type='text' name='query_url'>
</form>

<style>
  .prop-input {
    width: 300px;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    padding: 10px;
  }
</style>
